<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.theresa.chismis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:uiOptions="splitActionBarWhenNarrow">
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Register"
            android:icon="@drawable/lo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RetrievePassword"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:label="@string/app_name"
            android:logo="@drawable/lo">
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow"></meta-data>

        </activity>
        <activity
            android:name=".Update"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".Post"
            android:label="@string/app_name" >

        </activity>
        <activity
        android:name=".ChangePass"
        android:label="@string/app_name" >

    </activity>
        <activity
            android:name=".Profile"
            android:label="@string/app_name" >

        </activity>
        <uses-permission android:name="android.permission.CAMERA"> </uses-permission>
    </application>

</manifest>
